#id-center-alin-conent-of-the-page {
  position: relative;
  margin: 0 auto 0 auto;
  text-align: center;
  width:1000px;
  line-height: 1.9;
  font-family: 'Poppins', sans-serif;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


#navbarHeading{
  font-size:24px;
}

.linkAnchor {
  text-decoration-line: none;
}

hr.horizontal-rule {
border:none;
border-top: 4px solid;
color: #4d5bf9;
}


h2 {
  color: #0800FA;
  width: 100%;
  font-size: 29px;;
  font-family:serif;
  font-weight: bold;
  display: block;
}

p {
  color: #0145DB;
  text-align: justify;
  font-family:sans-serif;
  font-weight: normal;
}

 h3 {
   color: #0145DB;
   text-align: left;
   font-family:sans-serif;
   font-weight: normal;
 }


.enphase {
    text-decoration-line:underline;
    text-decoration-style: solid;
    color: #1100FA;
}

.enphase-Prepositional{
    text-decoration-line:none;
    text-decoration-style: solid;
    color: #1100FA;
}

h2 .lighter{
  font-weight:100;
    text-align: left;

}

table .lighter, p .lighter {
 font-style: italic;
 font-weight: 400;
}

.enphase-2 {
  text-decoration-line:underline;
  text-decoration-style: solid;
  text-decoration-color: solid black;
}

.objectPronoun {
color: #f4146d;
}

.particles {
  color:#FFBF00;
}

/****Table**Sets****/
 .td-element p {
  text-align: left;
}

.firstTable{
 table-layout:fixed;
 width: 100%;
 border-collapse: collapse;
 border-radius:5px 5px 0 0;
 overflow: hidden;
 position: relative;
 margin:0;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
  flex-wrap: nowrap;
}

.firstTable thead tr{
  background-color: #186db6;
  color:#ffffff;
  text-align: left;
  font-weight: bold;
 }

  .firstTable th,
  .firstTable td{
   padding: 15px 15px;
   font-family:'Libre Caslon Text', serif;
   border: 1px solid #dddddd;
 }
  .firstTable .tbodyOfTable tr:last-of-type{border-bottom: 10px solid #186db6;}
  .firstTable{box-shadow: 2px 2px 8px 1px #888888;}

 th {
   font-size: 20px;
 }


th {
  text-align: left;
}


.firstTable tbody td {
  padding-left: 15px;
}

.firstTable tbody td p {
  font-size: 1.2rem;
}

.firstTable tbody td .enphase-Prepositional {
  font-size: 1.1rem;
}

.headingTogether {
  text-decoration: line-through;
}

.headingTogether-2 {
 text-align: left;
}

.blockOfContent{
  text-align: left;
}

.space {
  padding-top: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

#id-center-alin-conent-of-the-page .blockOfContent {
  padding: 0.45rem;
}
.firstTable{
  padding: 0.45rem;
}
#table-none-0{
  display: none;
}

/***responsiveness*1024px**/
@media(max-width: 1024px) {
  thead th{font-size: 20px;}
  #id-center-alin-conent-of-the-page{width: 100%;}
}

@media(max-width: 1024px) {
  .title-div .lighter{
    display: block;
    padding-top: 0;
  }

  .slash{
    display: none;
  }

h2 .lighter{
  display: block;
  line-height: 0.3;
}

}

@media (orientation: portrait) and (max-width: 1024px) {

  .firstTable{box-shadow: 2px 2px 8px 1px #888888;}
}

/***responsiveness*768px**/
@media (orientation: portrait) and (max-width: 768px){
  thead th{font-size: 20px;}
  .footer-col{width: 100%;}

  table{
    width: 100%;
  }

.lineX{
  display: none;
}

.title-div .lighter{
  position: relative;
}

.lighter {
  display: block;
}
.slash{
  display: none;
}

}
@media(max-width:650px) and (orientation:portrait){
  #table-none-0{
   display: inline-table;
  }
  #table-none-1{
    display:none;
  }

}


@media(max-width:500px) and (orientation:portrait){
  h2{
    font-size: 1.50rem;
  }
}
@media(max-width: 425px) and (orientation: portrait) {
  #id-center-alin-conent-of-the-page .blockOfContent {
  padding: 0.30rem;
 }

}

@media(max-width: 475px){
    .horizontal-rule{
      padding-top: 10px;
    }
}

@media(max-width:425px) and (orientation: portrait) {
  .firstTable{
    width: 100%;
    margin: 0 auto 0 auto;
  }
  .blockOfContent{
    padding: 3px;
  }
  #line-under-the-table{
    display: none;
  }
  #line-under-the-table-2{
    display: none;
  }
}
@media(max-width:409px) and (orientation: portrait) {
  #VerbosPrespositionaisFrasaisEverbosFrasais{
   line-height: 1;
   padding-top: 10px;
  }
   #VerbosPrespositionaisFrasaisEverbosFrasais .lighter{
   line-height: 1;
  }
}
@media(min-width:409px) and (orientation: portrait) {
  .sentence-title{
   display: none
  }

}
@media(min-width:340px) and (orientation: portrait){
 .cut-the-word{
   
 }
}
@media(min-width:325px) and (orientation: portrait){
  .sentence-title-2{
    display: none;
  }
  #VerbosPrespositionaisFrasais{

  }
  #VerbosPrespositionaisFrasais .lighter{

  }
}
@media(min-width:290px) and (orientation: portrait){
  .cut-the-word-2{
    display: none;
  }
}
@media(min-width:250px) and (orientation: portrait){

}

/**footer**/
body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}





/****/
